.btnShadow {
    --size : 40px;
    position : relative;
    width : var(--size);
    height : var(--size);
    border-radius : 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FAFAFB;
    box-shadow: inset -0.7px -0.7px 1px rgba(207, 207, 207, 0.2);
    box-shadow: inset -0.7px -0.7px 2.5px rgba(146, 146, 146, 0.35);
    .icon {
        width: calc(var(--size) * 0.5);
        height: calc(var(--size) * 0.5);
        svg {
            width: 100%;
            height: 100%;
        }
    }
}