.navbar {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	box-shadow: 0px 2px 3px rgba(4, 255, 156, 0.5);
	border-radius: 0px 0px 25px 25px;
	height: var(--navbarHeight);
	position: sticky;
	top: 0;
	z-index: 1000;

	padding: 0 0.45rem;
}

.left {
	display: flex;
	align-items: center;

	column-gap: 0.45rem;
}

@media (min-width: 520px) {
	.navbar {
		padding: 0 1rem;
	}
	.left {
		column-gap: 1rem;
	}
}

.controls {
	position: relative;
	/* background-color: aqua; */
	display: flex;
	column-gap: 1rem;
	align-items: center;
}

.controlsWrapper {
	position: relative;
	column-gap: 1rem;
	align-items: center;

	/* display: none; */
}

.listControls {
	position: relative;
	column-gap: 1rem;
	align-items: center;
	display: none;
}

@media (min-width: 500px) {
	.controlsWrapper {
		display: flex;
	}
}

@media (min-width: 720px) {
	.listControls {
		display: flex;
	}
}

.avatarTrigger {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.1s ease;
}

.avatarTrigger:active {
	transform: scale(0.94);
}

.accountDesign {
	--size: 32px;
	position: absolute;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	background-color: #eeeeee;
	bottom: 0;
	right: 0;
	border: 5px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	/* transform: rotate(90deg); */
}

.menu {
	position: relative;
	width: 44px;
	height: 44px;
	/* background-color: #808080; */
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.1s ease;
}

.menu:active {
	transform: scale(0.94);
}

.line {
	position: absolute;
	width: 42px;
	height: 8px;
	background-color: var(--primaryColor);
	border: 1px solid rgba(83, 83, 83, 0.72);
	border-radius: 1rem;
}

.line:nth-child(1) {
	transform: translateY(-12px);
}

.line:nth-child(3) {
	transform: translateY(12px);
}

.menuWrappPhone {
	position: fixed;
	z-index: 100;
	top: var(--navbarHeight);
	right: 0;
	width: 100%;
	height: calc(100% - var(--navbarHeight));
	overflow: hidden;
	/* background-color: aqua; */
}

.menuWrappDesktop {
	position: absolute;
	z-index: 100;
	right: 1rem;
	top: calc(100% + 1rem);
	width: 100%;
	max-width: 450px;
}
