.gallery {
	margin-top: 8px;
	width: 100%;
	overflow: hidden;
	position: relative;
	border-radius: 10px;
	display: flex;
	align-items: center;
	.swiperSlide {
		width: 100%;
		height: 100%;
		padding-bottom: calc(100% / 1.5);
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			&[data-initial="true"] {
				border-radius: 10px 0 0 10px;
			}
			&[data-initial="false"] {
				border-radius: 0 10px 10px 0;
			}
		}
	}
	button {
		position: absolute;
		z-index: 1;
		background-color: #ffffff;
		border-radius: 50%;
		--size: 26px;
		width: var(--size);
		height: var(--size);
		display: flex;
		justify-content: center;
		align-items: center;
		display: none;
		svg {
			position: absolute;
			width: calc(100% + 2px);
			height: calc(100% + 2px);
		}
		&.left {
			left: 10px;
			svg {
				transform: rotate(180deg);
			}
		}
		&.right {
			right: 10px;
		}
	}
}
